doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href='/pub/stylesheets/upc.css', rel='stylesheet')
		link(href='/pub/stylesheets/ideai.css', rel='stylesheet')
		script(type='text/javascript' src='/pub/javascript/ideai.js')
		//- title  #{reqTitle} - IDEAI-UPC. Intelligent Data Science and Artificial Intelligence Research Center - UPC. Universitat Politècnica de Catalunya
	body
		#PPtable
			block content
