extends base
include mixins/ppi

block content
	- var year, areas = ["Digital Society", "Wellness",  "Education", "Industry 4.0", "Economy", "Innovation", "Efficient Resources", "Talent"];
	each area in areas
		- year = data[0].Year;
		- var subareas = [area]
		if area == "Wellness"
			- subareas.push("Health", "Inclusion")
		h1= area
		h2 projectects and Patents
		div
			each project, i in data
				if subareas.some(a => project.PArea.includes(a)) || subareas.some(a => project.SAreas.includes(a))
					if year != project.Year
						p
						h3= project.Year
						p
						-year = project.Year
					else
						pf
					+ppi(project)
					p
		
	
