<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ideai</title>
</head>
<body>
	<div id="div1">
	  <p id="p1">This is a paragraph.</p>
	  <p id="p2">This is another paragraph.</p>
	</div>
	
	<div id="pp_table">
	</div>

	<script>
	var para = document.createElement("p");
	var node = document.createTextNode("This is new.");
	para.appendChild(node);

	var element = document.getElementById("div1");
	element.appendChild(para);
	
	var data = <%= data %>
	var ppt = document.getElementById("pp_table");
	for(var i = 0; i < data.length; i++) {
		//data[i]
		<div class="grayLighter-background align-left"><img class="image-left" height="15%" src="resolveuid/d865652726f34e318ff38e9a9d9a3a08-en" width="15%" />
		<h4 class="category-subtitle">Title of the project or patent provided by the main author</h4>
		<p><em><span style="text-decoration: underline; ">Surname N.</span> Autor N. Something A.</em></p>
		<p>Description of the area that will be given by the contact person of the respective commission. Description of the area that will be given by the contact person of the respective commission, and you know that this is fake text but I am you.</p>
		<p>First Collaborator   Second Collaborator   Third Collaborator</p>
		</div>
		}
	</script>
</body>
</html>